@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30335a;
  color: #ffffff;
  padding: 10px 10px;
}

.topbar--logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar--logo h2 {
  font-size: 0.75rem;
  font-family: "Kumar One", cursive;
  font-weight: normal;
}

.topbar--logo img {
  width: 30px;
}

.topbar--profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.topbar--profile-box {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.topbar--profile-box img {
  height: 30px;
}

.topbar--profile-title img {
  height: 16px;
}

.topbar--profile-icon {
  height: 16px;
  position: relative;
  display: inline-block;
}

.topbar--icon-badge {
  position: absolute;
  top: -4px;
  right: -1px;
  background-color: #ff0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.topbar--profile-title {
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.topbar--dropdown-icon {
  transition: transform 0.3s ease;
}

.topbar--dropdown-open .topbar--dropdown-icon {
  transform: rotate(180deg);
}

.topbar--dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #30335a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
}

.topbar--dropdown-item {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 0.625rem;
}

.topbar--sign-box {
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}
.topbar--sign-title {
  text-decoration: none;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2039;
  color: #ffffff;
  padding: 10px 10px;
}

.navbar--title {
  display: flex;
  position: relative;
}

.navbar--title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 5px;
}

.navbar--title h2 {
  font-size: 0.75rem;
  font-weight: bold;
}

.navbar--title-active {
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2px;
}

.navbar--dropdown-icon {
  transition: transform 0.3s ease;
}

.navbar--dropdown-open .navbar--dropdown-icon {
  transform: rotate(180deg);
}

.navbar--dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1e2039;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
}

.navbar--dropdown-item {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 0.625rem;
}

.navbar--title-active img {
  height: 16px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
  color: #ffffff;
  padding: 25px 10px;
}

.footer h2 {
  font-size: 0.75rem;
}

/* Darkmode */

.darkmode--container {
  display: flex;
  justify-content: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #787fd7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #272727;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #30335a;
}

input:checked + .slider:before {
  background-color: #f6f6f6;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
