:root {
  --graphbox-background: #3d3d3d;
  --horizontal-text-color: rgba(255, 255, 255, 0.5);
  --bar-button-background: #272727;
  --bar-button-background-hover: #f6f6f6;
  --bar-button-background-title-hover: #000;
  --pie-legend-background: #272727;
  --pie-legend-text: #fff;
}
[data-theme="dark"] {
  --graphbox-background: #3d3d3d;
  --horizontal-text-color: rgba(255, 255, 255, 0.5);
  --bar-button-background: #272727;
  --bar-button-background-hover: #f6f6f6;
  --bar-button-background-title-hover: #000;
  --pie-legend-background: #272727;
  --pie-legend-text: #fff;
}

[data-theme="light"] {
  --graphbox-background: #d9d9d9;
  --horizontal-text-color: rgba(0, 0, 0, 0.5);
  --bar-button-background: #f6f6f6;
  --bar-button-background-hover: #272727;
  --bar-button-background-title-hover: #fff;
  --pie-legend-background: #f6f6f6;
  --pie-legend-text: #000;
}

/* Horizontal Bar */

.horizontal--container {
  background-color: var(--graphbox-background);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  color: var(--title);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-md);
}

.horizontal--chart {
  margin: 0 auto;
  margin-bottom: calc(-1 * var(--space-sm));
  width: 100%;
  height: 100%;
}

.horizontal--title {
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
}

.horizontal--title img {
  height: 16px;
}

.horizontal--header {
  display: flex;
  gap: var(--space-lg);
}

.horizontal--header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--title);
}

.horizontal--h2--header {
  font-weight: normal;
  font-size: var(--text-sm);
}

.horizontal--amount {
  font-size: var(--text-sm);
}

.horizontal--details {
  font-size: var(--text-sm);
}

.horizontal--details span {
  font-size: var(--text-xs);
  font-weight: 400;
  color: var(--horizontal-text-color);
  padding: 1px;
}

.horizontal--title {
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  position: relative;
}

.horizontal--dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.horizontal--dropdown.open .horizontal--dropdown-menu {
  display: block;
}

.horizontal--dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--graphbox-background);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  display: none;
  width: 100px;
  z-index: 1000;
}

.horizontal--dropdown-item {
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
  font-size: var(--text-sm);
}

.horizontal--dropdown-item:hover {
  background-color: var(--graphbox-background);
}

.dark-icon,
.light-icon {
  height: 16px;
}

/* Bar */
.bar--container {
  background-color: var(--graphbox-background);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  color: var(--title);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-md);
}

.bar--chart {
  margin: 0 auto;
  margin-bottom: calc(-1 * var(--space-xs));
  width: 100%;
  height: 100%;
}

.bar--header--layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bar--header--title {
  font-size: var(--text-sm);
}

.bar--header--buttons {
  display: flex;
  gap: var(--space-sm);
}

.bar--header--buttons button {
  background-color: var(--bar-button-background);
  border: none;
  color: var(--title);
  font-size: var(--text-xs);
  cursor: pointer;
  border-radius: 25px;
  padding: var(--space-xs) var(--space-sm);
}

.bar--header--buttons button:hover {
  background-color: var(--bar-button-background-hover);
  color: var(--bar-button-background-title-hover);
}

.bar--header--buttons button.active {
  background-color: var(--bar-button-background-hover);
  color: var(--bar-button-background-title-hover);
}

.bar--chart .recharts-cartesian-grid line {
  stroke: var(--title);
}

.bar--chart .recharts-text {
  fill: var(--title);
}

.bar--chart .recharts-yAxis .recharts-text {
  fill: var(--title);
}

/* Pie */
.pie--container {
  background-color: var(--graphbox-background);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  color: var(--title);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-md);
}

.pie--chart {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.pie--chart rect {
  fill: var(--pie-legend-background);
}

.pie--chart text {
  font-size: var(--text-sm);
  fill: var(--pie-legend-text);
}

.pie--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pie--header--title {
  font-size: var(--text-sm);
}

.pie--header--sort {
  font-size: var(--text-xs);
  display: flex;
  align-items: center;
}

.pie--header--sort img {
  height: 16px;
}

.pie--footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pie--footer--item {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  gap: var(--space-sm);
}

.pie--footer--title {
  font-size: var(--text-sm);
  font-weight: normal;
}

.pie--footer--amount {
  font-size: var(--text-sm);
  font-weight: 600;
}

.pie--header--sort {
  font-size: var(--text-xs);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.pie--dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--graphbox-background);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  width: 120px;
  z-index: 1000;
  display: none;
}

.pie--dropdown-menu {
  display: block;
}

.pie--dropdown-item {
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
  font-size: var(--text-sm);
}

.pie--dropdown-item:hover,
.pie--dropdown-item.selected {
  background-color: var(--graphbox-background);
}

/* Responsive styles for tablets */
@media screen and (min-width: 768px) {
  .horizontal--h2--header,
  .horizontal--amount,
  .horizontal--details,
  .bar--header--title,
  .pie--header--title {
    font-size: var(--text-md);
  }
  
  .horizontal--details span,
  .bar--header--buttons button,
  .pie--footer--title,
  .pie--footer--amount {
    font-size: var(--text-sm);
  }
  
  .bar--header--buttons button {
    padding: var(--space-xs) var(--space-md);
  }
}

/* Responsive styles for desktops */
@media screen and (min-width: 992px) {
  .horizontal--container,
  .bar--container,
  .pie--container {
    padding: var(--space-lg);
    border-radius: var(--radius-lg);
  }
}
