@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.app--footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 100%;
}

.box {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto;
  margin: 10px;
}

.horbar {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.bar {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.pie {
  grid-column: 1;
  grid-row: 3;
}
